/* Azul vibrante */
/* Rojo coral */
/* Fondo claro */
.responsive-ss, .main-clientes .gralart {
  display: flex;
  flex-wrap: wrap;
}

@keyframes efecto-uno {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes efecto-dos {
  0% {
    color: #2a70b1;
  }
  50% {
    color: #e74c3c;
  }
  100% {
    color: #2a70b1;
  }
}
/* ESTILOS GENERALES */
body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  color: #333;
  background-color: var(--color-fondo);
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

header .borde-none {
  border: none;
}
header .colort-blanco {
  color: #f9f9f9;
}
header .bg-yoseli {
  background-color: rgb(63, 63, 63);
  display: flex;
  align-items: end;
}
header .bg-yoseli h1 {
  color: rgb(63, 63, 63);
}
header .bg-yoseli .img-logo {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  border: 2px solid white;
}
header .bg-yoseli .navbar-collapse .navbar-nav {
  flex-basis: 100%;
  justify-content: end;
  gap: 2%;
  font-weight: bolder;
}
header .bg-yoseli .navbar-collapse .navbar-nav li a {
  color: #f9f9f9;
}

/*PAGE- INDEX-PRESENTACION*/
.main-index #presentacion {
  background-color: rgb(63, 63, 63);
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}
.main-index #presentacion .presentacion {
  color: #f9f9f9;
  padding: 3%;
  align-items: center;
  text-align: justify;
  margin-top: 5%;
  width: 50%;
  font-size: larger;
}
.main-index #presentacion .foto-profesional .index-foto-yoseli {
  margin-top: 10%;
  height: 80%;
  width: 300px;
  box-shadow: 3px 3px 4px rgba(15, 15, 15, 0.1);
}
.main-index .servicios {
  margin: 0%;
  background-image: url(../image/fondo-index-.jfif);
  padding: 5%;
}
.main-index .servicios .row .col .card-title {
  text-align: center;
  font-weight: bolder;
}
.main-index .servicios .row .col .card-footer {
  background-color: rgb(221, 191, 195);
  text-align: center;
  font-weight: bolder;
}

/*PAGE- CLIENTES-*/
.main-clientes {
  justify-content: center;
  background-color: rgb(63, 63, 63);
  border: 2px solid black;
}
.main-clientes .gralart {
  height: 100%;
}
.main-clientes .gralart .pading {
  box-shadow: 5px 5px 4px rgba(15, 15, 15, 0.1);
  margin: 3%;
  padding: 0.5%;
}
.main-clientes .gralart div .titcliente {
  text-decoration: underline;
  padding: 2%;
}

/*PAGE- CONOCEME-*/
.conoceme {
  margin: 2% 5%;
  color: #f9f9f9;
}
.conoceme .card {
  border: 2px solid black;
}
.conoceme .card .row .col-md-4 .alto {
  height: auto;
}
.conoceme .card .row .col-md-8 .card-body .card-text {
  text-align: justify;
}
.conoceme a {
  animation-name: efecto-dos;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

/*PAGE-CONTACTO*/
.main-contacto {
  border: 2px solid black;
}
.main-contacto .contacto div .contacto-titulo {
  text-decoration: underline;
}
.main-contacto .contacto .div-formulario form {
  display: flex;
  flex-direction: column;
  margin-right: 15%;
  margin-left: 15%;
  padding: 5px;
  border: 3px solid black;
  font-family: "Quicksand", sans-serif;
  font-size: medium;
}
.main-contacto .contacto .div-formulario form .textarea {
  width: 100%;
}
.main-contacto .contacto .div-formulario form .boton {
  font-size: larger;
  background-color: rgb(250, 219, 223);
  animation-name: efecto-uno;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}
.main-contacto .contacto .tarjeta-personal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bolder;
  border-radius: 3%;
  padding: 3%;
}
.main-contacto .contacto .tarjeta-personal p {
  color: black(155, 245, 155);
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: larger;
}
.main-contacto .contacto .tarjeta-personal p a {
  color: black;
  text-decoration: none;
}
.main-contacto .contacto .tarjeta-personal p a:hover {
  color: blue;
}

/*PAGE-SERVICOS*/
.responsive-ss {
  margin: 2%;
  margin-top: 5%;
}
.responsive-ss .gralart {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 1%;
  height: 100%;
}
.responsive-ss .gralart .pading {
  padding: 3%;
  margin-top: 3%;
}
.responsive-ss .gralart .pading:hover {
  zoom: 103%;
}
.responsive-ss .gralart .pading .boton-curso {
  padding: 10px 20px;
  background-color: rgb(250, 219, 223);
  border: 2px solid black;
  border-radius: 5px;
}
.responsive-ss .gralart .pading .boton-curso a {
  color: #070707;
  text-decoration: none;
  font-size: larger;
}
.responsive-ss .gralart .article {
  box-shadow: 3px 3px 3px 3px rgba(15, 15, 15, 0.1);
  border: rgb(122, 118, 118) 2px solid;
  border-radius: 3%;
  margin: 2%;
  height: 100%;
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  color: rgb(27, 27, 27);
}
.responsive-ss .gralart .article h2 {
  display: flex;
  flex-wrap: wrap;
  align-items: star;
  justify-content: center;
  flex-direction: column;
  text-decoration: underline;
}
.responsive-ss .gralart .article .imagen-servicio {
  width: 100%;
  height: 10rem;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10%;
  background-color: rgb(63, 63, 63);
  color: aliceblue;
  height: 15%;
}

/* MEDIA QUERY PARA ( LA PAGE HOME)*/
@media screen and (min-width: 200px) and (max-width: 768px) {
  header .bg-yoseli {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header .bg-yoseli .img-logo {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    border: 2px solid white;
  }
  .main-index #presentacion .presentacion {
    width: 100%;
  }
  .main-contacto .contacto .div-formulario form {
    /* media query para el formulario*/
    margin-left: 1%;
    margin-right: 1%;
  }
  .main-clientes {
    justify-content: center;
    margin: 0%;
  }
  .main-clientes .gralart {
    justify-content: center;
  }
}
/* MEDIA QUERY PARA ( LA PAGE SERVICIOS)*/
@media screen and (min-width: 761px) and (max-width: 1500px) {
  /* page-clientes*/
  .main-clientes {
    justify-content: center;
  }
  .main-clientes .gralart {
    margin-top: 3%;
    gap: 3%;
    align-content: center;
    justify-content: center;
  }
}
@media screen and (min-width: 740px) and (max-width: 1077px) {
  .responsive-ss {
    justify-content: center;
    margin-top: 0%;
    margin-bottom: 20%;
  }
  .responsive-ss .gralart {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 3%;
    height: 100%;
  }
  .responsive-ss .gralart .article {
    padding: 3%;
  }
}
@media screen and (min-width: 1078px) and (max-width: 1500px) {
  .responsive-ss {
    justify-content: center;
    margin-top: 0%;
    margin-bottom: 10%;
  }
  .responsive-ss .gralart {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 3%;
    height: 100%;
  }
  .responsive-ss .gralart .article {
    padding: 3%;
  }
}

/*# sourceMappingURL=main.css.map */
