/*PAGE-SERVICOS*/
.body-servicios {
    color: aliceblue;

    .responsive-ss {
        @extend %flex-wrap;
        margin: 2%;
        margin-top: 5%;

        .gralart {
            @include flex(wrap, center,center, row);
            margin: 1%;
            height: 100%;

            .pading {
                padding: 3%;
                margin-top: 3%;

                &:hover {
                    zoom: 103%;
                }
            }

            .article {
                box-shadow: 11px 15px 15px 10px $box-shadow-color;
                border: rgb(122, 118, 118) 2px solid;
                border-radius: 3%;
                margin: 2%;
                height: 100%;
                width: 20rem;
                @include flex(wrap, center, top, column);
                color: rgb(27, 27, 27);
                h2{
                    @include flex(wrap, star, center, column);
                    text-decoration: underline;
                }
                .imagen-servicio {
                    width: 100%;
                    height: 10rem;
                    
                }
            }
        }
    }
}
