/*PAGE- CLIENTES-*/
.main-clientes {
    justify-content: center;
    background-color: $bg-gris-oscuro;
    border: 2px solid black;
    
    .gralart {
        @extend %flex-wrap;
        height: 100%;

        .pading {
            box-shadow: 5px 5px 4px $box-shadow-color;
            margin: 3%;
            padding: 0.5%;
        }

        div {
            .titcliente {
                text-decoration: underline;
                padding: 2%;
            }
        }
    }
}