/*PAGE- INDEX-PRESENTACION*/
.main-index {
    #presentacion {
        @extend %flex-wrap;
        margin: 5%;

        .presentacion {
            margin: 5%;
            width: 50%;
            padding: 2%;
            background-color: aliceblue;
            border-radius: 10px;
            display: flex;
            text-align: justify;

        }

        .foto-profesional {
            .index-foto-yoseli {
                box-shadow: 11px 15px 18px 11px rgb(180, 180, 180);
            }

        }
    }

    .prestaciones {
        background-image: url(../image/Fondo-index-servicios.webp);
        padding: 5%;
    }
}