/*PAGE- CONOCEME-*/
.conoceme {
    margin: 2% 5%;
    color: $color-fondo;
    
    
    .card {
        border: 2px solid black;
        .row {
            .col-md-4 {
                .alto {
                    height: auto;
                }
            }

            .col-md-8 {
                .card-body {
                    .card-text {
                        text-align: justify;
                    }
                }
            }

        }

    }

    a {
        animation-name: efecto-dos;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        animation-duration: 2s;
    }
}