/*PAGE- CLIENTES-*/
.main-clientes {

    .gralart {
        @extend %flex-wrap;
        margin: 5%;
        height: 100%;

        .pading {
            box-shadow: 11px 15px 18px 11px rgb(223, 213, 235);
            margin: 3%;
            padding: 0.5%;
        }

        div {
            .titcliente {
                text-decoration: underline;
                padding: 2%;
            }
        }
    }
}