/*PAGE- INDEX-PRESENTACION*/
.main-index {
    #presentacion {
        display: flex;
        flex-wrap: wrap;
        margin: 5%;

        .presentacion {
            margin: 5%;
            width: 50%;
            padding: 2%;
            background-color: aliceblue;
            border-radius: 10px;
            display: flex;
            text-align: justify;
            
        }
    }

    .prestaciones {
        background-image: url(../image/Fondo-index-servicios.webp);
        padding: 5%;
    }
}