/*PAGE- INDEX-PRESENTACION*/
.main-index {
    #presentacion {
        @extend %flex-wrap;
        margin: 5%;

        .presentacion {
            margin: 5%;
            width: 50%;
            padding: 2%;
            background-color: $bg-rosado-oscuro;
            border-radius: 10px;
            display: flex;
            text-align: justify;

        }

        .foto-profesional {
            .index-foto-yoseli {
                box-shadow: 3px 3px 4px $box-shadow-color;
            }

        }
    }

    .prestaciones {
        background-image: url(../image/Fondo-index-servicios.webp);
        padding: 5%;

        .row {
            .col {
                .card-title {
                    text-align: center;
                    font-weight: bolder;
                }

                .card-footer {

                    background-color: rgba(221, 191, 195, 1.00);
                    text-align: center;
                    font-weight: bolder;
                }

            }
        }

    }
}