/* ESTILOS GENERALES */
body {
    background-color: white(233, 233, 220);
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    color: black;
    box-sizing: border-box;
}

hr {
    color: black;
    height: 1px;
}