/* ESTILOS GENERALES */
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    color: $ppal-color;
    box-sizing: border-box;
    justify-content: center;
}

hr {
    color: black;
    height: 1px;
}