$bg-rosado-oscuro: rgba(221, 191, 195, 1.00);
$ppal-color: black;
$box-shadow-color: rgba(15, 15, 15, 0.1);
$bg-gris-oscuro: rgb(63, 63, 63);
$bg-rosado: rgba(250, 219, 223, 1.00);

$color-primario: #2a70b1;
/* Azul vibrante */
$color-secundario: #e74c3c;
/* Rojo coral */
$color-fondo: #f9f9f9;
/* Fondo claro */
$bg-fondo:rgb(248, 246, 246);