header {
    .bg-yoseli {
        background-color: rgb(230, 230, 230);
        .navbar-collapse {
            .navbar-nav {
                
                    flex-basis: 100%;
                    justify-content: end;
                
            }
        }
    }
}